.head{
    background-attachment: fixed;
    text-align: center;
    background-color: #123026;
    color:white;
    height:50px ;
    box-sizing: border-box;
    padding-top: 15px;
}
.head p{
    color:white;
    margin-top: auto;
    font-size: 20px;
}
