*{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 500px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
::-webkit-scrollbar-track {
    background-color: transparent;
  }
::-webkit-scrollbar-thumb {
    background: rgb(0, 255, 170);
    
  }
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
  a{
    cursor: pointer;
  }
  Link{
    color: #b30000;
  }